dataset/*.png
dataset/test/*.png
dataset/0/*.png
dataset/1/*.png
dataset/2/*.png
_dataset/*.png
_out/*.png
_dataset/images/*
plot.png
NN/checkpoint/*
__pycache__/*
model/*
model/variables/*
NN/__pycache__/*.pyc
NN/checkpoint/*